{% extends 'base.html.twig' %}

{% block title %}Mes ateliers{% endblock %}

{% block body %}

    <section class="ateliers">
        <div class="sous-titre">
            <h6>mes ateliers</h6>
        </div>
        <div id="hero-container">
            <div class="background-hero"></div>
            <div class="hero-ateliers">
                <h6>ma mission</h6>
                <h3>Offrir des ateliers créatifs où l'apprentissage se fait avec plaisir. Ici, on explore de nouvelles techniques artistiques dans une ambiance amusante.</h3>
            </div>
            <img src="{{ asset('img/ateliers/ateliers-hero.jpg') }}" alt="">
        </div>
        <div class="atelier-container-v1 ceramique">
            <h2>Céramique</h2>
            <div class="atelier-v1">
                <img class="img-atelier-v1" src="{{ asset('img/ateliers/atelier-ceramique.jpg') }}" alt="atelier-ceramique">
                <div class="texte-atelier-container-v1">
                    <p>Les ateliers de céramique vous invitent à découvrir l'art de modeler et de façonner la terre en objets uniques et originaux. Au cours de ces sessions, vous apprendrez à maîtriser les différentes techniques de modelage pour créer des pièces en céramique à votre image. Profitez également de notre four de cuisson pour donner vie à vos créations. Que vous soyez débutant ou expérimenté, ces ateliers vous offriront l'opportunité de vous exprimer artistiquement tout en développant votre talent en céramique.</p>
                    <p><span>Prix</span> : 120 euros / jour</p>
                    <p><span>Quand</span> ? Jetez un oeil à mon agenda</p>
                </div>
            </div>
        </div>
        <div class="atelier-container-v2 peinture">
            <h2>Peinture</h2>
            <div class="atelier-v2">
                <img class="img-atelier-v2" src="{{ asset('img/ateliers/atelier-peinture.jpg') }}" alt="atelier-peinture">
                <div class="texte-atelier-container-v2">
                    <p>Les ateliers de peinture à l'acrylique vous plongent dans l'univers captivant de l'art abstrait, où vous explorerez des possibilités. Lors de ces ateliers, vous apprendrez à maîtriser les techniques spécifiques de la peintur e acrylique pour créer des œuvres abstraites expressives et harmonieuses. Jouez avec les textures, les nuances et les contrastes pour composer des tableaux qui reflètent votre vision artistique et votre créativité. Ces ateliers conviennent à tous les niveaux et vous permettront de vous exprimer librement à travers la peinture. </p>
                    <p><span>Prix</span> : 120 euros / jour</p>
                    <p><span>Quand</span> ? Jetez un oeil à mon agenda</p>
                </div>
            </div>
        </div>
        <div class="atelier-container-v1 bijoux">
            <h2>Bijoux</h2>
            <div class="atelier-v1">
                <img class="img-atelier-v1" src="{{ asset('img/ateliers/atelier-bijoux.jpg') }}" alt="coucou">
                <div class="texte-atelier-container-v1">
                    <p>Les ateliers de création de bijoux en pâte d'argent vous permettent de façonner des pièces uniques. Vous apprendrez à travailler la pâte d'argent pour réaliser des bijoux raffinés et personnalisés. Maîtrisez les techniques de modelage, de texturation et de finition pour concevoir des colliers, bracelets, boucles d'oreilles et autres accessoires qui reflètent votre style et votre créativité. Accessibles à tous les niveaux, ces ateliers vous offrent l'opportunité d'explorer l'art de la bijouterie et de créer des pièces uniques à porter ou à offrir.</p>
                    <p><span>Prix</span> : 120 euros / jour</p>
                    <p><span>Quand</span> ? Jetez un oeil à mon agenda</p>
                </div>
            </div>
        </div>
        <div class="atelier-container-v2 scrapbooking">
            <h2>Scrapbooking</h2>
            <div class="atelier-v2">
                <img class="img-atelier-v2" src="{{ asset('img/ateliers/atelier-scrapbooking.jpg') }}" alt="coucou">
                <div class="texte-atelier-container-v2">
                    <p>Les ateliers de scrapbooking vous invitent à préserver et mettre en valeur vos précieux souvenirs photographiques dans un style épuré et élégant. Venez avec vos propres photos ou choisissez parmi celles que je vous propose, et ensemble, nous composerons une mise en scène unique qui sublimera vos clichés. Apprenez à marier les papiers, les embellissements et les techniques de composition pour créer une page ou un album qui raconte votre histoire avec finesse et originalité.</p>
                    <p><span>Prix</span> : 120 euros / jour</p>
                    <p><span>Quand</span> ? Jetez un oeil à mon agenda</p>
                </div>
            </div>
        </div>
        <div class="atelier-container-v1 powertex">
            <h2>PowerTex</h2>
            <div class="atelier-v1">
                <img class="img-atelier-v1" src="{{ asset('img/ateliers/atelier-powertex.jpg') }}" alt="coucou">
                <div class="texte-atelier-container-v1">
                    <p>Les ateliers Powertex vous emmènent à la découverte de cet incroyable matériau polyvalent qui permet de réaliser des œuvres d'art aussi variées que des statues, des tableaux ou encore des éléments de décoration. Familiarisez-vous avec les différentes techniques de travail du Powertex, telles que le drapage, le modelage ou la création de textures, et laissez-vous guider dans la réalisation d'objets décoratifs et artistiques.  </p>
                    <p><span>Prix</span> : 120 euros / jour</p>
                    <p><span>Quand</span> ? Jetez un oeil à mon agenda</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
