{% extends 'base.html.twig' %}

{% block title %}Mes créations{% endblock %}

{% block body %}
    <main>
        <section class="creations">
            <div class="sous-titre">
                <h6>mes créations</h6>
            </div>
            <div class="container">
                    <!-- Categories -->
                    <div class="categorie-creation col-md-12 text-center controls-filter">
                        <ul>
                            <li data-filter="all" class="btn btn-outline-primary">Toutes</li>
                            {% for category in categories %}
                                <li data-filter="{{ category.id }}" class="btn btn-outline-primary"> {{ category.name}} </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="filter-container col-md-10" style="overflow: hidden; margin-left: 8rem; margin-top: 2rem;">
                        {% for creation in creations %}
                            <div class="col-md-5 text-center filtr-item" data-category="{{ creation.category.id }}" data-sort="value">
                                <a href="{{ path('app_creation', {slug: creation.slug}) }}">
                                    <img style="height: 500px; width: 500px;" alt="{{ creation.imageName }}" src="{{ asset('img/galerie/' ~ creation.imageName) }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
        </section>
    </main>
    {# FILTERIZR #}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.filterizr.min.js') }}"></script>
    <script>
        let filterizd = $('.filter-container').filterizr({
            // options here
        });
    </script>
{% endblock %}

