{% extends 'base.html.twig' %}

{% block title %}Détails création{% endblock %}

{% block body %}
    <main class="creation-container">
        <section class="details">
            <div class="grid-container">
                <div class="creation">
                    <img  src="{{  asset('img/galerie/' ~ creation.imageName) }}" alt="{{ creation.imageName }}">
                    <div class="card-body">
                        <h4>{{ creation.category.name }}</h4>
                        <h2>{{ creation.title | capitalize }}</h2>
                        <p>{{ creation.date | date('d-m-Y') }}</p>
                    </div>
                </div>
            </div>
            <p><a href="{{ path('app_creations') }}">retour à la galerie</a></p>
        </section>
    </main>

{% endblock %}
