<footer>
    <div class="navigation col-md-4">
        <h1>Explorez le site</h1>
        <div class="liens">
            <a href="{{ path('app_home') }}">Accueil</a>
            <a href="{{ path('app_creations') }}">Créations</a>
            <a href="{{ path('app_workshop') }}">Ateliers</a>
            <a href="{{ path('app_blog') }}">Blog</a>
            <a href="{{ path('app_about') }}">Qui suis-je ?</a>
            <a href="{{ path('app_contact') }}">Contactez - moi</a>
        </div>
    </div>
    <div class="newsletter col-md-4">
        <h1>Restez au courant</h1>
        <div class="inscription">
            <p>Inscrivez-vous pour recevoir les nouvelles actualités et informations concernant mes ateliers </p>
            <form>
                <input type="email" id="email" placeholder="Adresse e-mail">
                <button type="submit" class="btn btn-primary">Je m'inscris !</button>
            </form>
        </div>
        <p>Rue de la Croix, 22 - 5000 Namur (BE)</p>
    </div>
    <div class="conditions col-md-4">
        <h1>Termes & conditions</h1>
        <div class="liens">
            <p>Conditions de vente</p>
            <p>Mentions légales</p>
            <p>Politique de confidentialité</p>
        </div>
        <div class="icones">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest"></i>
        </div>
    </div>
</footer>