<nav class="navbar">
        <a id="accueil" href="{{ path('app_home') }}">accueil</a>
        <a id="creations" href="{{ path('app_creations') }}">créations</a>
        <a id="ateliers" href="{{ path('app_ateliers') }}">ateliers</a>
        <a id="blog" href="{{ path('app_blog') }}">blog</a>
        <a id="a-propos" href="{{ path('app_about') }}">a propos</a>
        <a id="connexion" href="{{ path('app_login') }}">se connecter</a>
    <div class="logo-container">
        <h1>Ateliers</h1>
        <hr class="horizontal-line">
        <h1>Créations</h1>
    </div>
</nav>
