<nav class="navbar">
    <div class="left-links">
        <a id="accueil" href="{{ path('app_home') }}">accueil</a>
        <a id="creations" href="{{ path('app_creations') }}">créations</a>
        <div class="dropdown">
            <button id="ateliers" class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="dropdown-title">ateliers</span></button>
            <ul class="dropdown-menu">
                <li><a href="{{ path('app_workshop') }}" class="dropdown-item">ateliers</a></li>
                <li><a href="{{ path('app_agenda') }}" class="dropdown-item">agenda des ateliers</a></li>
            </ul>
        </div>
    </div>
    <div class="logo-container">
        <h1>Ateliers</h1>
        <hr class="horizontal-line">
        <h1>Créations</h1>
    </div>
    <div class="right-links">
        <a id="blog" href="{{ path('app_blog') }}">blog</a>
        <a id="a-propos" href="{{ path('app_about') }}">a propos</a>
        {% if not app.user %}
            <a href="{{ path('app_login') }}" type="button" id="login">S'identifier</a>
        {% else %}
            <a href="{{ path('app_contact') }}">contact</a>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ app.user.firstName }} {{ app.user.lastName }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_profile') }}">Mon profil</a></li>
                    {% if not is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="{{ path('app_my_reservations') }}">Mes réservations</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('app_admin') }}" class="dropdown-item">Administration</a></li>
                        <li><a href="{{ path('app_adminCalendar') }}" class="dropdown-item">Gérer mon agenda</a></li>
                    {% endif %}
                    <li><a href="{{path('app_logout')}}" class="dropdown-item">Se déconnecter</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
