{% extends 'base.html.twig' %}

{% block title %}{{parent() }} - Calendrier des ateliers {% endblock %}

{% block body %}
    <h1>Calendrier des ateliers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Infos supplémentaires</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Couleur de fond</th>
                <th>Couleur de bordure</th>
                <th>Couleurs de texte</th>
                <th>Toute la journée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.id }}</td>
                <td>{{ calendar.title }}</td>
                <td>{{ calendar.description }}</td>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendar.backgroundColor }}</td>
                <td>{{ calendar.borderColor }}</td>
                <td>{{ calendar.textColor }}</td>
                <td>{{ calendar.allDay ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_agenda_show', {'id': calendar.id}) }}">Voir</a>
                    <a href="{{ path('app_agenda_edit', {'id': calendar.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas d'atelier de prévu pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_agenda_new') }}">Créer un nouvel atelier</a>
{% endblock %}
