{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <h1>Liste des ateliers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id de l'atelier</th>
                <td>{{ calendar.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'atelier</th>
                <td>{{ calendar.title }}</td>
            </tr>
            <tr>
                <th>Infos supplémentaires</th>
                <td>{{ calendar.description }}</td>
            </tr>
            <tr>
                <th>Début de l'atelier</th>
                <td>{{ calendar.start ? calendar.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin de l'atelier</th>
                <td>{{ calendar.end ? calendar.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Couleur de fond</th>
                <td>{{ calendar.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Couleur de la bordure</th>
                <td>{{ calendar.borderColor }}</td>
            </tr>
            <tr>
                <th>Couleur du texte</th>
                <td>{{ calendar.textColor }}</td>
            </tr>
            <tr>
                <th>Toute la journée/th>
                <td>{{ calendar.allDay ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agenda_index') }}">Retour à la liste</a>

    <a href="{{ path('app_agenda_edit', {'id': calendar.id}) }}">Modifier l'atelier</a>

    {{ include('agenda/_delete_form.html.twig') }}
{% endblock %}
