{% extends 'base.html.twig' %}

{% block title %}{{parent() }} - connexion {% endblock %}

{% block body %}
    <main class="login">
        <div class="bg-img">
            <img src="{{ asset('img/login/login.jpg') }}" alt="">
        </div>
        <div class="form-login">
            <h1>Rebonjour !</h1>
            <h2>Veuillez entrer vos identifiants</h2>
            {% if error %}
                <div class="error-message">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post">
                <input type="text" id="email" class="form-control" name="_username" placeholder="Email" value="{{ last_username }}" required>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required>
                <p><a class="btn-section" href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></p>
                <input class="submit" type="submit" value="Se connecter">
                <div>
                    <p>Vous n'avez pas encore de compte ?</p>
                    <p class="text-center"><a class="btn-section" href="{{ path('app_register') }}">S'inscrire</a></p>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

