{% extends 'base.html.twig' %}

{% block title %}{{parent() }} - inscription {% endblock %}

{% block body %}
    <main class="register">
        <div class="bg-img">
            <img src="{{ asset('img/register/register.jpg') }}" alt="">
        </div>
        <div class="form-register">
            <h1>Bienvenue !</h1>
            <h2>Veuillez entrer vos informations</h2>
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.firstName) }}
            {{ form_widget(registrationForm.lastName) }}
            {{ form_widget(registrationForm.email) }}
            {{ form_widget(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.imageFile) }}
            <p>* Si vous le souhaitez, ajoutez une photo à votre profil utilisateur !</p>
            <div class="btn-newsletter">
                <input type="checkbox" id="newsletterCheckbox" name="newsletterCheckbox">
                <label for="newsletterCheckbox">S'inscrire à ma newsletter</label>
            </div>
            <input class="submit" type="submit" value="S'inscrire">
            <div>
                <p>Vous avez déjà un compte ?</p>
                <p class="text-center"><a class="btn-section" href="{{ path('app_login') }}">se connecter</a></p>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}