{% extends 'base.html.twig' %}

{% block title %}{{parent() }} - inscription {% endblock %}

{% block body %}
    <main class="register">
        <div class="bg-img">
            <img src="{{ asset('img/register/register.jpg') }}" alt="">
        </div>
        <div class="form-register">
            <h1>Bienvenue !</h1>
            <h2>Veuillez entrer vos informations</h2>
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <input class="submit" type="submit" value="S'inscrire">
            <div>
                <p>Vous avez déjà un compte ?</p>
                <p class="text-center"><a class="btn-section" href="{{ path('app_login') }}">se connecter</a></p>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </main>
{% endblock %}

{#<form action="">#}
{#    <input type="text" id="nom" name="nom" placeholder="Votre nom" required>#}
{#    <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>#}
{#    <input type="email" id="email" name="email" placeholder="Votre email" required>#}
{#    <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>#}
{#    <input class="submit" type="submit" value="S'inscrire">#}
{#    <div>#}
{#        <p>Vous avez déjà un compte ?</p>#}
{#        <p class="text-center"><a class="btn-section"  href="{{ path('app_login') }}">Se connecter</a></p>#}
{#    </div>#}
{#</form>#}