{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}
    <main class="blog-container">
        <section class="blog">
            <div class="sous-titre">
                <h6>mon blog</h6>
            </div>
            <div class="articles-container .box-container">
                        {% for article in articles %}
                            <div class="article box">
                                <a href="{{ path('app_article', {slug: article.slug}) }}">
                                    <img style="width: 350px; height: 450px;" src="{{ asset('img/blog/') ~ article.imageName }}" alt="{{ article.title }}">
                                </a>
                                <div class="article-texte">
                                    <h6>{{ article.categoryArticle }}</h6>
                                    <h2>{{ article.title }}</h2>
                                    <p>{{ article.createdAt|date('d/m/Y') }}</p>
                                </div>
                            </div>
                        {% endfor %}
            </div>
            <div type="button"  id="load-more">Voir plus d'articles</div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
 <script>
        let loadMoreBtn = document.getElementById('load-more');
        if (loadMoreBtn) {
            let currentItem = 3;
            loadMoreBtn.addEventListener('click', () => {
                let boxes = [...document.querySelectorAll('.box')];
                for (let i = currentItem; i < currentItem + 3; i++){
                    boxes[i].style.display = 'inline-block';
                }
                currentItem += 3;
            });


        }

    </script>
{% endblock %}
