{% extends 'base.html.twig' %}

{% block title %}Article blog{% endblock %}

{% block body %}

    <main class="article-container">
        <section class="details">
            <div class="flex-container">
                <div class="article">
                    <img style="height: 600px; width: 100%;" src="{{ asset('img/blog/') ~ article.imageName }}" alt="{{ article.title }}">
                    <div class="article-header">
                        <h6>{{ article.categoryArticle }}</h6>
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.createdAt|date('d/m/Y') }}</p>
                    </div>
                    <div class="article-body">{{ article.content | raw}}</div>
                    <div class="comment-area">
                        <div class="last-comments">
                            {% for comment in comments %}
                                <div class="item">
                                    <h2>{{ comment.userId }}</h2>
                                    <h3>{{ comment.title | capitalize }}</h3>
                                    <p>{{ comment.content | capitalize }}</p>
                                    <h4>Ajouté le {{ comment.createdAt |date('d/m/Y')}}</h4>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="new-comment">
                            <h2>Laisser un commentaire</h2>
                            {% if is_granted('ROLE_USER') %}
                                <form action="{{ path('app_article', {slug: article.slug}) }}" method="POST">
                                    {{ form_start(form) }}
                                    <div class="form-content">
                                        {{ form_row(form.title) }}
                                        {{ form_row(form.content) }}
                                        {{ form_row(form.submit) }}
                                    </div>
                                    {# Affichez le message d'erreur sous le champ #}
                                    {% if form_errors(form.content) %}
                                        <div class="error-message">
                                            {{ form_errors(form.content) }}
                                        </div>
                                    {% endif %}
                                    {{ form_end(form) }}
                                </form>
                            {% else %}
                                <h4>Vous devez être connecté !</h4>
                                <a href="{{ path('app_login') }}" class="btn-desktop ">S'identifier</a> <a href="{{ path('app_register') }}" class="btn-desktop">S'enregistrer</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="others-articles">
                    <h2>Derniers articles</h2>
                    {% for article in lastArticles %}
                        <div class="item">
                            <a href="{{ path('app_article', {slug: article.slug}) }}">
                                <img style="height: 150px; width: 100%;" src="{{ asset('img/blog/') ~ article.imageName }}" alt="{{ article.title }}">
                                <h2>{{article.title | capitalize }}</h2>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                    </div>
            <p><a class="btn-redirection" href="{{ path('app_blog') }}">Retour au blog</a></p>
        </section>
    </main>

{% endblock %}
